:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:  #2196F3;
    --primery-white-color: #FFFFFF;
    --font-family-title: 'Roboto', sans-serif;
    
}
body {
background-color: var(--primery-white-color);
color: var(--primary-text-color);
font-family: var(--font-family-title);
}

/* Header */
.logo-header {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-accent {
    color: var(--accent-color);
}

.nav-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}
.current {
    color: var(--accent-color);
}
.contacts-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}    

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}
.list {
    list-style-type: none;
}
.link {
    text-decoration-line: none;
}
.link:hover,
.link:focus {
    text-decoration-line: underline;
    text-decoration-line: var(--accent-color);
}
/* main */
.hero {
    background-color: #2F303A;
}
.hero-title {
    color: var(--primery-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
  
.button {
    color: var(--primery-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    }
.button:hover,
.button:focus {
background-color: red;
}

.visually-hidden {
    visibility: hidden;
    }

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    }

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.team-positoin {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
/* Footer */
.footer {
    background-color: #2F303A;
}
.adress {
    font-style: normal;
}
.logo-footer {
    color: var(--primery-white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.adress-map-link {
    color: var(--primery-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.adress-link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* Potfolio */
.projects-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    cursor: pointer;
}
.projects-button:hover,
.projects-button:focus {
    background-color: var(--accent-color);
    color: var(--primery-white-color);
}
.company-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.project-name {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}